body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  margin-top:       5%;
  margin-bottom:    5%;
  background-color: #242424;
  color: #868686;
  /*
  margin-left:      10%;
  margin-right:     10%;
  */
  /*padding:          10px 10px 10px 10px;*/
}

.phraseInput {
  width: 700px;
}

.blueKeyword {
	color: #0069d9;
}

.grid {
  display: flex;
  justify-content: start;
}

.grid .fig_box {
  width: 30%;
}

.grid .fig_line {
  width: 70%;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  /*font-family: 'Comic Sans MS';*/
  font-weight: bold;
  color: #c8c8c8;
}

details[open] {
  padding: 0.5em;
}

#graphList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#graphList li {
  /*margin: 10px;*/
  border: 2px solid #dfdfdf;
  border-radius: 10px;
}

#graphList li.hint {
  border: 2px dashed #dfdfdf;
}

#graphList li.active {
  border: 2px dashed #ff597b;
}