<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ドラッグ＆ドロップできるリスト</title>
    <link rel="stylesheet" href="../static/css/myStyle.css" />
  </head>
  <body>
    <ul id="list">
      <li>仕事</li>
      <li>すごい仕事</li>
      <li>かなりすごい仕事</li>
      <li>とてもかなりすごい仕事</li>
      <li>めちゃくちゃとてもすごい仕事</li>
    </ul>
    <script src="DragHandler.js"></script>
  </body>
</html>